@model ZlagodaPrj.Models.ViewModels.Check.CreateCheckVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Create Check</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            @for (int i = 0; i < @Model.Sales.Count; i++)
            {
                <hr />
                <div class="form-group">
                    <label asp-for="Sales[i].Upc" class="control-label"></label>
                    <input asp-for="Sales[i].Upc" class="form-control" />
                    <span asp-validation-for="Sales[i].Upc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sales[i].Amount" class="control-label"></label>
                    <input asp-for="Sales[i].Amount" class="form-control" />
                    <span asp-validation-for="Sales[i].Amount" class="text-danger"></span>
                </div>
                
            }
            <div class="form-group">
                <input type="submit" value="Remove Sale" asp-route-saleId="@Model.Sales.Count-1" name="submitButton" class="btn btn-info" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add Sale" name="submitButton" class="btn btn-info" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" name="submitButton" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
